.MarkContainer{
    padding: 60px;
    margin: 0 10px;
    margin-top: 50vh;
    transform: translateY(-50%);
    border-radius: 30px;
    h1{
        font-size: 50PX;
        font-weight: bold;
        text-align: center;
        color: #1148A5;
        margin-bottom: 20px;
    }
    .ImgContainer{
        display: flex;
        justify-content: center;
    }
}