.staffOverview{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
   
}
.OtherStaff{
    padding: 10px 0;
    h1{
        font-size: 45px;
        font-weight: bold;
        text-align: center;
        color: #1148A5;
        margin: 20px;
        @media (max-width: 1600px) {
            font-size: 40px;
        }
    }
}