.staffOverview{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
   
}
.OtherStaff{
    h1{
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        color: #1148A5;
        margin-bottom: 20px;
    }
}