.overviewInfoContainer{
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: 2rem auto;
    padding: 3rem 1rem;
    max-width: 80%;
    border-bottom: 1px solid #ccc;

    .mainContentLeft{
        width: 660px;
        border-radius: 20px;
        width: 45%;
    }
    .mainContentRight{
        font-size: 23px;
        font-weight: 500;
        line-height: 1.4;
        width: 45%;
        @media (max-width: 1600px) {
            font-size: 20px;
        }
        h1{
            font-size: 50px;
            color: #1148A5;
            margin-bottom: 30px;
            text-align: center;
        }
        
    }
}

