.header{
    position: sticky;
    top: 40px;
    z-index: 1000;
    transition: 2s ease;
}
.nav{
    width: 60%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 65px;
    border-radius: 10px;
    transform: translateX(-50%);
    margin-left: 50%;
    box-shadow: #1148A5 0px 5px 18px;
   
}
.navLink{
    font-size: 22px;
    color: #062F83;
    font-weight: 700;
}
.navLink:hover{
    text-decoration: none;
}
.placeholder{
    height: 200px;
    width: 200px;
}
.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    height: 120px;
    width: 120px;
}
