.MarkImgItem{
    margin-right: 1px;
    flex: 1 0 19.5%;

    .img{
        height: 340px;
        img{
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1000;
            object-fit: cover;
        }
        @media (max-width: 1000px) {
            height: 350px;
          }
    }
    
    .slideContainer{
        max-height: 230px ;
        overflow: hidden;
        .MarkImgDes{
            height: 200%;
            transition: 0.6s ease;
            display: flex;
            flex-direction: column;
            .year{
                width: 100%;
                height: 230px;
                font-size: 32px;
                font-weight: bold;
                display: flex;
                justify-content: center;
                background-color: #00A5FF;
                color: #201d1d;
                align-items: center;
                text-align: center;
                opacity: 0.9;
            }
            span{
                width: 100%;
                height: 230px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 23px;
                font-weight: 500;
                background-color: #1148A5;
                color: white;
                padding: 10px;
                text-align: center;
            }
            &:hover{
                transform: 1s ease;
                cursor: pointer;
                transform: translateY(-50%); 
                span{
                    display: flex;
                    color: #fff;
    
                }
            }
            &:hover ~ .yearLine{
                border-top: 10px solid #00A5FF;

            }
        }
    }
    .yearLine
    {
        margin-top: 20px;
        border-top: 5px solid #ccc;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        padding: 10px;
        background: #fff;
        z-index: 1000;
        overflow: hidden;
    }
    .yearLineHover{
        margin-top: 20px;
        border-top: 7px solid #00A5FF;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        padding: 10px;
        background: #fff;
        z-index: 1000;
        overflow: hidden;
        border-radius: 2px;
        color: #00A5FF

    }

}