.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .timeline-item {
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
    min-width: 170px;
  }
  .timeline-item:active{
    transform: scale(0.97)
  }
  .timeline-date {
    font-size: 17px;
    font-family: 'Geologica', sans-serif;
    font-weight: 500;
    color: #A1A3A7; 
    transition: color 0.3s ease;
    margin-bottom: 10px;
    transition: 0.1s ease;

  }
  
  .timeline-line {
    width: 120px;
    height: 3px;
    background: #A1A3A7; 
    margin: 5px auto 0;
    transition: 0.5s ease;
  }
  

  .timeline-item.active .timeline-date {
    color: #fff; 
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    background-color: #00A5FF;
    
  }
  
 
  