.avatarGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);  
    border-radius: 20px; 
    row-gap: 100px; 
    column-gap: 50px;
    

    .avatarCell {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 3000px) {
          width: 260px;
          height: 260px;
        }
        @media (max-width: 1600px) {
            width: 230px;
           height: 230px;
        }
       
      img {
        height: 170%; 
        width: 120%;
        object-fit: cover;
        transform: translateY(-21%);
      }
    }
  }
  